*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /*Useful for converting px into rem (it will be = 10px in most browsers)*/
}

body {
    box-sizing: border-box; /* part of the global reset*/
}